<!DOCTYPE html>
<html lang="en">
<head>
{{> header }}
</head>
<body>

  <h1>417am</h1>

<p style="text-align: center;">
  <a href="https://twitter.com/417am1975?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @417am1975</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

<div id="container">

<div id="section1" class="section">
  <h2>Flow</h2>
  <p>
    I feel like the best nights are the ones when you're working on a project and you don't even realize how late it's gotten. You've been steadily pushing and improving, bit by bit, and the end is in sight. Other people find these moments of flow through jogging or meditation. I get it from those things too, but I get it most from programming. There is something special about convincing a computer to do something, especially when that something is making an image dance on a screen.
  </p>

  <p>
  The spark was lit for me by seeing incredible work on Twitter by Zach Lieberman and Inconvergent. Both incredibly freely offered information on the web about how they had convinced their computers to make such beautiful work. They shared enough to make me think that maybe, just maybe, this is something I could do.
  </p>

  <p>
  I've been visualizing data for years. Always hungry for the coolest new dataset on the horizon. I created bar charts and pie charts and sankey diagrams and unit charts and network graphs on any topic that could be summed up in data. But this new project- generative art- was freeing. I wasn't visualizing data- I was visualizing randomness. I was sifting through the white noise on a television set and using that as my data instead.
  </p>

  <p>
  The art became deciding what parameters to give up to the computer. Or really to randomness. But I would build things that I felt looked nice and then slowly change the code and say "okay, now you decide how to do that" or "now you decide where we start that line". A lot of the time is spent deciding just how much control to give over.
  </p>

  <p>
  You can take a canvas and give randomness full control. You can say "computer, draw 100 points, and you can put those points wherever you want (as long as they're on the canvas)."
  </p>

  <canvas class="canvas-example" id="example-1" height="420px" width="1020px"></canvas>

  <p>
  But what you end up with is a lot like that white noise that comes on your TV when you're briefly tuned into the electromagnetic hum of the galaxy instead of the 8 o'clock news.  The real art, I think, is in deciding how much control to give over to the computer, and in what places.
  </p>

  <p>
  In a lot of ways this felt like education. As I wrote new lines of code I envisioned myself teaching my robot, slowly, the unspoken rules of art. The way you'd teach a child. "These colors work well together", "try to make it so your lines don't overlap", "if you reach the edge of the canvas, go in a different direction", and so on.
  </p>
</div>

<div id="section2" class="section">
  <h2>Drawing points</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <canvas class="canvas-example" id="example-2" height="420px" width="1020px"></canvas>
</div>

<div id="section3" class="section">
  <h2>Drawing points</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <canvas class="canvas-example" id="example-3" height="1020px" width="1020px"></canvas>
</div>

<div id="section4" class="section">
  <h2>Drawing points</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <canvas class="canvas-example" id="example-4" height="720px" width="1020px"></canvas>
</div>


<p style="margin-top: 300px;">
  <a class="twitter-timeline" data-height="800" data-link-color="#999" href="https://twitter.com/417am1975?ref_src=twsrc%5Etfw">Tweets by 417am1975</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
</div>

{{> footer }}
</body>
</html>
