<!DOCTYPE html>
<html lang="en">
<head>
{{> header }}
</head>
<body>

  <h1>417am</h1>

<p style="text-align: center;">
  <a href="https://twitter.com/417am1975?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @417am1975</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

<div id="container" class="splinescroller-container">
  <img
  	src="img/splinescroller/1@0.1x.jpg"
  	data-src="img/splinescroller/1@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/2@0.1x.jpg"
  	data-src="img/splinescroller/2@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/3@0.1x.jpg"
  	data-src="img/splinescroller/3@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/4@0.1x.jpg"
  	data-src="img/splinescroller/4@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/5@0.1x.jpg"
  	data-src="img/splinescroller/5@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/6@0.1x.jpg"
  	data-src="img/splinescroller/6@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/7@0.1x.jpg"
  	data-src="img/splinescroller/7@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/8@0.1x.jpg"
  	data-src="img/splinescroller/8@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/9@0.1x.jpg"
  	data-src="img/splinescroller/9@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/10@0.1x.jpg"
  	data-src="img/splinescroller/10@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/11@0.1x.jpg"
  	data-src="img/splinescroller/11@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/12@0.1x.jpg"
  	data-src="img/splinescroller/12@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/13@0.1x.jpg"
  	data-src="img/splinescroller/13@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/14@0.1x.jpg"
  	data-src="img/splinescroller/14@1x.png"
  	class="lazyload" />

  <img
  	src="img/splinescroller/15@0.1x.jpg"
  	data-src="img/splinescroller/15@1x.png"
  	class="lazyload" />                 
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/lazysizes.min.js" charset="utf-8"></script>
{{> footer }}
</body>
</html>
