$red = #ed4224
$darkBlack = #4b494b
$lightGray = #d7d7d7
$yellow = #e6c000
$green = #46cc69
$tealGreen = #08ab88
$aqua = #33cccc
$blue = #3363f6
$purple = #824d99

$background = #323d4d

$white = #ffffff
$black = #0000
$papayawhip = #FFEFD5
