/*  Resets   */
/* apply a natural box layout model to all elements */
/* from http://paulirish.com/2012/box-sizing-border-box-ftw/ */
*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

/* maxvoltar.com/archive/-webkit-font-smoothing */
html
  -webkit-font-smoothing antialiased

/* basic fluidity http://fluidity.sexy/ */
img,canvas,iframe,video,svg
  max-width 100%

pre
  padding 15px
  white-space pre
  word-wrap break-word

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video
  margin 0
  padding 0
  border 0

a img
  border 0