@import 'nib'
@import 'reset'
@import 'typography'
@import 'colors'
@import 'grid'
// @import 'd3-tip'
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900');

body
  font-family 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif
  font-size 1.2em
  line-height 1.4em

@media (min-width: 320px)
  // #container
  //   padding 1em
@media (max-width: 320px)
  #container
    padding 8px
canvas
  width 100%
  margin-left auto
  margin-right auto
  display block
  margin-top 2em
  margin-bottom 2em
  cursor w-resize
  // max-height 50 vh

p, h2, h3, ul
  max-width 620px
  margin-left auto
  margin-right auto
  // @media (min-width: 320px)
  //   padding 0.5em
  padding 8px

h1
  font-weight 900
  margin-top 20vh
  margin-bottom 20vh
  font-size 4em
  line-height 1.1em
  @media (min-width: 320px)
    padding 0.25em
  @media (max-width: 320px)
    padding 4px
  word-wrap break-word
  text-align center
h2, h3
  // font-weight 900
  font-weight 300
  line-height 1.1em
  margin-bottom 0.5em
p
  margin-bottom 1.2em

ul
  margin-bottom 1em


.splinescroller-container
  img
    display block
    width 100%
    height auto
    margin 0
    padding 0
