$serif = 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif
$solido-bold = 'Solido-Bold', 'Helvetica-Neue', 'Helvetica', Arial, sans-serif
$solido-medium = 'Solido-Medium', 'Helvetica-Neue', 'Helvetica', Arial, sans-serif
$solido-light = 'Solido-Light', 'Helvetica-Neue', 'Helvetica', Arial, sans-serif

/* Highlight color, when user selects text */
$highlight = #d7d7d7

/* Selection colours (easy to forget) */
::selection     {background: $highlight}
::-moz-selection  {background: $highlight}
img::selection    {background: transparent}
img::-moz-selection {background: transparent}
body {-webkit-tap-highlight-color: $highlight}

em { background: rgba($highlight, 0.5) }

h1,h2,h3,h4,h5
  font-family $solido-medium

body
  font-family $serif

/*  Typography presets
  ------------------  */
.huge, h1
  font-size: 3em
  line-height: 1.1em

.large, h2
  font-size: 2.75em
  line-height: 1.5em

.bigger, h3
  font-size: 2em
  line-height: 1.5em
  margin: 0.1em 0

.big, h4
  font-size: 1.5em
  line-height: 1.5em
  margin: 0.1em 0

.small, small
  opacity: 0.8
  font-size: 0.7em
  line-height: 1.2em

header#title
  text-align center

// Font sizes for mobile
@media only screen and (max-width: 767px)
  .huge, h1
      font-size: 2.5em
      line-height: 1.1em
      margin-bottom: 12px

    .large, h2
      font-size: 2em
      line-height: 1.3em
      font-weight: 800
      line-height: 1.4em
      margin-bottom: 6px

    .bigger, h3
      font-size: 1.75em
      line-height: 1.2em
      font-weight: 800
      margin: 6px 0

    .big, h4
      font-size: 1.4em
      line-height: 1.5em
      font-weight: 700
      margin: 8px 0